<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
			   status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
		</Console>
		<File name="debug" fileName="logs/debug.log">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
		</File>
		<File name="error" fileName="logs/error.log">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="error"/>
			<AppenderRef ref="debug"/>
		</Root>
	</Loggers>
</Configuration>